
/*built for max 320 px device width*/

/*======================================
Google Fonts
======================================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');



/*======================================
General Styles
======================================*/

html, body {
	/*height: 100%;*/
	margin: 0 auto;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	max-width: 100%;
}

.wrapper {
	flex: 1;
	flex-direction: column;
	margin: 0 auto;
}

.flex {
	display: flex;
	flex-wrap: nowrap;
}



/*======================================
Header
======================================*/

header {
	flex-direction: row-reverse;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 10px;
	width: 95%;
}

.header-text {
	color: #2d3c49;
	flex-direction: column;
	text-align: right;
	text-transform: uppercase;
}

.header-text h1 {
	font-size: 2em;
	font-weight: 300;
}

.header-text h2 {
	font-weight: 500;
	line-height: 2em;
}

.logo {
	height: 50px;
	width: 50px;
}



/*======================================
Headline Section
======================================*/

/*.headline-img {
	width: 100%;
}*/

.headline-img {
	background-image: url('../assets/headline.jpg');
	background-position: center bottom;
	background-size: cover;
	height: 200px;
	width: 100%;
}


/*======================================
Featured Section
======================================*/

.featured-header {
	color: #7d97ad;
	font-size: 1.5em;
	font-weight: 600;
	margin: 10px;
}

.featured {
	flex-direction: column;
	margin-top: 10px;
}

.container {
	align-items: center;
	color: #2d3c49;
	flex-direction: column;
	margin-bottom: 10px;
	text-align: center;
}

.container p {
	font-weight: 600;
	margin: 10px 0;
}


.container a {
	color: #2d3c49;
	font-size: 0.85em;
	font-weight: 300;
	text-decoration: none;
}

.container a:hover {
	color: #b2bec3;
}

.featured-img {
	width: 75%;
}



/*======================================
Footer
======================================*/

footer {
	color: #2d3c49;
	font-weight: 400;
	margin: 20px 0;
	text-align: center;
}



/*======================================
Responsive Styles
======================================*/

@media all and (min-width: 500px) {
	.headline-img {
		height: 400px;
	}
}

@media all and (min-width: 800px) {
	.featured {
		flex-direction: row;
		margin: 0 10px;
	}

	.container {
		width: 33%;
		margin: 0 10px;
	}

	.container a {
		font-size: 1em;
	}

	.featured-img {
		width: 100%;
	}
}

@media all and (min-width: 1000px) {
	.headline-img {
		height: 450px;
	}

	.featured {
		margin: 0 auto;
		width: 90%;
	}

	.featured-header {
		font-size: 2em;
		margin: 20px 0 20px 25px;
	}
}











